@model ProductListViewModel


<table class="table">
    <thead>
        <tr>
            <th> ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    <a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart"
                    asp-route-productId="@item.ProductId"
                    >Add To Cart</a>
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" asp-controller="Cart" asp-action="RemoveFromCart"
                   asp-route-productId="@item.ProductId">Remove from cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @if (Model.CurrentFilterState)
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=true" class="btn btn-outline-primary">A-Z</a>
    }
    else
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=false" class="btn btn-outline-primary">Z-A</a>
    }
</p>






<product-list-pager current-category="@Model.CurrentCategory"
  current-page="@Model.CurrentPage"
  page-count="@Model.PageCount"
  page-size="@Model.PageSize"
       

>

</product-list-pager>


<p>

        <a href="" class="btn btn-outline-primary">Next</a>
        <a href="" class="btn btn-outline-primary">Previous</a>
   
</p>
