@model ProductListViewModel


<table class="table">
    <thead>
        <tr>
            <th> ProductName</th>
            <th>UnitPrice</th>
            <th>UnitsInStock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.UnitsInStock
                </td>
                <td>
                    <a class="btn btn-xs btn-success"
                       href="/Cart/AddToCart?productId=@item.ProductId&page=@Model.CurrentPage&category=@Model.CurrentCategory">Add To Cart</a>
                </td>

                <td>
                    <a class="btn btn-xs btn-danger"
                       href="/Cart/RemoveFromCart?productId=@item.ProductId&page=@Model.CurrentPage&category=@Model.CurrentCategory">Delete From Cart</a>
                </td>
               
            </tr>
        }
    </tbody>
</table>

<p>
    @if (Model.CurrentFilterState)
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=true" class="btn btn-outline-primary">A-Z</a>
    }
    else
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=false" class="btn btn-outline-primary">Z-A</a>
    }

</p>
<P>

    @if (Model.CurrentFilterStateHigher)
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=@Model.CurrentFilterState&filterHigher=true" class="btn btn-outline-primary">Low-High</a>
    }
    else
    {
        <a href="/product/index?page=@Model.CurrentPage&category=@Model.CurrentCategory&filterAZ=@Model.CurrentFilterState&filterHigher=true" class="btn btn-outline-primary">High-Low</a>
    }
</p>







<product-list-pager current-category="@Model.CurrentCategory"
  current-page="@Model.CurrentPage"
  page-count="@Model.PageCount"
  page-size="@Model.PageSize"
>
</product-list-pager>
